@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.drawing-area {
  width: 40vw;
  height: 30vw;
  background-color: #feffdc;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  z-index: 1;
}
.dots {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: fixed;
}
.circle {
  background: black;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
}

.circle-text {
  font-size: 1vw;
}
