@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.small-box {
  width: 40vw;
  height: 30vw;
  background-color: #feffdc;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  z-index: 1;
}

.text-small-box {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  float: left;
  padding: 1vw;
  padding-right: 22.9vw;
  padding-left: 1.5vw;
  background-color: #ebebeb;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  white-space: nowrap;
  z-index: 2;
}

.button-done p {
  position: fixed;
  background-color: #74e378;
  top: 31.5vw;
  left: 63vw;
  padding: 0.5vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  width: 4vw;
  height: 1.3vw;
  border-radius: 6vw;
  -moz-border-radius: 6vw;
  -webkit-border-radius: 6vw;
}
.dots {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.circle {
  background: black;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
}

.circle-text {
  font-size: 1vw;
}
