.whitebox {
  width: 50vw;
  height: 34vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2vw;
  background-color: white;
  border-radius: 15px;
  -moz-border-radius: 15px;
}
