.button-done {
  box-sizing: border-box;
  position: absolute;
  bottom: 40px;
  background-color: #74e378;
  padding: 0.5vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  width: 4vw;
  padding: 15px;
  border-radius: 6vw;
  z-index: 5;
}
