.button-done {
  --size: 60px;
  box-sizing: border-box;
  position: absolute;
  bottom: -100px;
  background-color: #74e378;
  padding-right: 15px;
  padding-left: 15px;
  line-height: var(--size);
  right: -100px;
  height: var(--size);
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  border-radius: calc(var(--size) / 2);
  z-index: 5;
  text-decoration: none;
  color: black !important;
}
