.text-small-box {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  padding: 15px;
  background-color: #ebebeb;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  white-space: nowrap;
  z-index: 3;
}

.second-chance {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  padding: 15px;
  background-color: #ebebeb;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  white-space: nowrap;
  z-index: 3;
}
